/* Begin Configs */
*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
}
header{
    width: 100%;
}

p{
    width: 300px;
}

img{
    display: block;
}

.container{
    width: 70%;
    margin: 0 auto;
   
}

.container a{
    color: #fff;
    text-decoration: none;
}

/* Header Info */

.header-info-bg{
    background: #122ab2;
    color: #fff;
}

/* nav-bg */

.nav-bg{
    background: #2c70ff;
}

