/* Begin Configs */
*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
}
header{
    width: 100%;
}

p{
    width: 300px;
}

img{
    display: block;
}

.container{
    width: 60%;
    margin: 0 auto;
   
}

.container a{
    color: #fff;
    text-decoration: none;
}

/* Header Info */

.header-info-bg{
    background: #122ab2;
    color: #fff;
}

/* nav-bg */

.nav-bg{
    background: #2c70ff;
}

/* ----------------------------------------------------------------------------- */

/* Formatando */

/* Infos  */

.header-info-bg div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.header-info-bg{
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Navbar */
.nav-bg .nav li{
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    color: #fff;
    list-style: none;
    margin: 5px;
}
 
.nav-bg .container{
    display: flex;
    justify-content: space-between;
}

.nav-bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
}

/* Propriedades */

.Propriedades{
    margin-top: 60px;
}

.Propriedades h1,.Propriedades h2,.Propriedades h3{
    font-size: 48px;
    color: #222222;
    width: 500px;
}

.Propriedades hr{
    margin: 50px auto;
    background: #2c70ff;
    width: 100%;
    height: 2px;
    display: flex;
    align-content: center;
}

/* Sobre */

.Propriedades .Sobre p{
    margin-top: 30px;
    color: #7c7c7c;
    width: 450px;
}

.Propriedades .Sobre {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 80px;
}
.Propriedades .Sobre .images{
    display: flex;
    align-items: flex-start;
}

.Propriedades .Sobre .images img{
    margin-right: 10px;
}


/* Products */

.Propriedades .Products hr{
  margin: 60px auto
}

.Propriedades .Products .Caixas{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.Propriedades .Products .purple, .Propriedades .Products .pink,.Propriedades .Products .blue{
    background: #f7f7f7;
    width: 300px;
    flex-direction: column;
    align-items: flex-end;
}

.Propriedades .Products img{
    width: 100%;
}
.Propriedades .Products h3{
    color: #a4a4a4;
}

.Propriedades .Products .TypeColor{
    height: 170px;
}

.Propriedades .Products .TypeColor h3{
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-left: 20px;
}
.Propriedades .Products .TypeColor::before{
    display: flex;
    flex-direction: column;
    content: "";
    background: #2c70ff;
    height: 10px;
    width: 100%;
    margin: 0;
}