/* Begin Configs */
*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
}
header{
    width: 100%;
}

p{
    width: 300px;
}

img{
    display: block;
}

.container{
    width: 60%;
    margin: 0 auto;
   
}

.container a{
    color: #fff;
    text-decoration: none;
}

/* Header Info */

.header-info-bg{
    background: #122ab2;
    color: #fff;
}

/* nav-bg */

.nav-bg{
    background: #2c70ff;
}

/* ----------------------------------------------------------------------------- */

/* Formatando */

/* Infos  */

.header-info-bg div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.header-info-bg{
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Navbar */
.nav-bg .nav li{
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    color: #fff;
    list-style: none;
    margin: 5px;
}
 
.nav-bg .container{
    display: flex;
    justify-content: space-between;
}

.nav-bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
}

/* Propriedades */

.Propriedades{
    margin-top: 60px;
}

.Propriedades h1,.Propriedades h2,.Propriedades h3{
    font-size: 48px;
    color: #222222;
    width: 500px;
}

.Propriedades hr{
    margin: 50px auto;
    background: #2c70ff;
    width: 100%;
    height: 2px;
    display: flex;
    align-content: center;
}

/* Sobre */

.Propriedades .Sobre p{
    margin-top: 30px;
    color: #7c7c7c;
    width: 450px;
}

.Propriedades .Sobre {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 80px;
}
.Propriedades .Sobre .images{
    display: flex;
    align-items: flex-start;
}

.Propriedades .Sobre .images img{
    margin-right: 10px;
}


/* Products */

.Propriedades .Products hr{
  margin: 60px auto
}

.Propriedades .Products .Caixas{
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.Propriedades .Products .purple, .Propriedades .Products .pink,.Propriedades .Products .blue{
    background: #f7f7f7;
    width: 300px;
    flex-direction: column;
    align-items: flex-end;
}

.Propriedades .Products img{
    width: 100%;
}
.Propriedades .Products h3{
    color: #a4a4a4;
}

.Propriedades .Products .TypeColor{
    height: 170px;
    display: flex;
    flex-direction: column;
    
}

.Propriedades .Products .TypeColor h3{

    margin-left: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    
}

.Propriedades .Products .TypeColor::before{
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    content: "";
    background: #2c70ff;
    height: 10px;
    width: 100%;
}

.Propriedades .Products .purple .TypeColor::before{
    background-color: #ae81ff;
}

.Propriedades .Products .pink .TypeColor::before{
    background-color: #f9265e;
}

.Propriedades .Products .blue .TypeColor::before{
    background-color: #66d9eb;
}


/* Pacotes */

.Packages{
    justify-content: space-around;
    background: #f7f7f7;
    display: flex;
    padding: 70px;
    align-items: flex-end;
    
}

.Packages .iron, .Packages .gold, .Packages .diamond{
    width: 400px;
    display: flex;
    flex-direction: column;
    border: #ffff 4px solid;
    
}

.Packages h2{
    color: #a4a4a4;
    font-size: 48px;
    margin: 20px auto 0;
}

.Packages h3{
    color: #222222;
    font-size: 48px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    flex-direction: column;    
}
.Packages h3::after, .Packages h3::before{
    content: "";
    background: #fff;
    width: 320px;
    height: 4px;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    align-items: stretch;
}

.Packages a{
    text-align: center;
    margin: 30px auto;
    width: 80%;
    border: #222222 4px solid;
    color: #222222;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 36px;
    text-decoration: none;
   
}

.Packages ul li{
    font-size: 20px;
    color: #7c7c7c;
    display: flex;
    font-style: italic;
    line-height: 40px;
}


/* Qualidades */

.Qualidades{
    margin: 50px auto;
    color: #7c7c7c;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.Qualidades h2{
    font-size: 48px;
    margin-bottom: 10px;
}

.Qualidades div{
    margin:0 0 15px 15px;
}

/* Invite container */

.Invite{
    background: #f7f7f7;
    color: #7c7c7c;
}

.Invite .container{
    padding: 30px;
    display: flex;
    justify-content: center;
}

.Invite h2{
    font-size: 48px;
}

.Invite .container .textos{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    flex-wrap: wrap;
    margin-right: 40px;
}

.Invite .container .textos h2, .Invite .container .textos p{
   width: 250px;
}

.Invite .container div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Invite .container div form{
    display: flex;
    align-items: stretch;

}



.Invite .container div .email {
    border: #2c70ff 3px solid;
    width: 300px;
    height: 56px;
    padding-left: 20px;
    font-size: 16px;
    font-style: italic;
}

.Invite .container div .enviar{
    font-size: 36px;
    background: #2c70ff;
    text-transform: uppercase;
    color: #ffff;
    border: #2c70ff 3px solid;
    margin-left: -10px;
    cursor: pointer;
}


/* Footer */

footer{
    background: #2c70ff;
    color: #122ab2;
    padding: 50px;
    text-align: center;
}

