/* Begin Configs */
*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
}
header{
    width: 100%;
}

p{
    width: 300px;
}

img{
    display: block;
}

.container{
    width: 60%;
    margin: 0 auto;
   
}

.container a{
    color: #fff;
    text-decoration: none;
}

/* Header Info */

.header-info-bg{
    background: #122ab2;
    color: #fff;
}

/* nav-bg */

.nav-bg{
    background: #2c70ff;
}

/* ----------------------------------------------------------------------------- */

/* Formatando */

/* Infos  */

.header-info-bg div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.header-info-bg{
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Navbar */
.nav-bg .nav li{
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    color: #fff;
    list-style: none;
    margin: 5px;
}
 
.nav-bg .container{
    display: flex;
    justify-content: space-between;
}

.nav-bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
}

/* Propriedades */

.Propriedades{
    margin-top: 60px;
}

.Propriedades h1{
    font-size: 48px;
    color: #222222;
    width: 500px;
}

.Propriedades h1::after{
    margin: 50px auto;
    content: "";
    background: #2c70ff;
    width: 1000px;
    height: 2px;
    display: flex;
    align-content: center;
}